<a href="https://colab.research.google.com/github/Sirsha2468/Introduction-to-AI-ML/blob/main/Sirsha_Introduction2AI%26ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

We have heard Machine Learning and Artificial Intellence word serveral times.

**What is AI?**

- Artificial intelligence is the simulation of human intelligence processes by machines, especially computer systems.

**What is the purpose of AI?**

- AI makes it possible for machines to learn from experience, adjust to new inputs and perform human-like tasks.

**How we can make a machine learn on its own?**

- A machine becomes intelligent by training with data and algorithm. AI machines keep updating their knowledge to optimize their output. Machines also become intelligent once they are trained with some information which helps them achieve their tasks.


<img src=""/>

**What is Machine Learning?**

- Machine learning is a branch of artificial intelligence in which a machine learns through data the different features on its own without being programmed by a computer programmer. 


With machine learning, the machine learning will figure out what to do itself, using the inputs we feed it.
    
- First, the algorithmic models are **trained** to perform some specific tasks learning patterns from the data it sees, rather than through computer programming by a human expert.

- After training, our model is ready for making predictions for any new unknown input.


There are many machine learning models or algorithms to do this kind of prediction. One of them is **Random Forest Classifier**. 

---
**Random Forest Classifier:**

- It is used to classify outcomes into classes (or labels) based on some features. 
- For e.g., an animal that makes a 'Meow! Meow!' sound is classified (or labelled) as a cat, an animal that makes a 'Woof! Woof!' sound is classified as a dog, an animal which makes a hissing sound is classified as a snake etc.
- It uses the training data to learn how the given features relate to a particular class. 
- **For example:** A classifier can classify a given set of audio data into following two classes:
  - Those who are male.
  - Those who are not male (or female).

  on the basis of different features of the population such as pitch, frequency etc. 


In this lesson, we will use the Random Forest Classifier model to classify whether a audio frequency belongs to male or female.

# Gender Voices Classification using Random Forest Classifier

>

### Overview

You are provided with a dataset which contains some statistical information about the audio frequencies of different male and female voices. Based on the information provided, you have to find out which voice belongs to which gender using the `RandomForestClassifier` algorithm.

https://www.kaggle.com/datasets/primaryobjects/voicegender?resource=download


Please note that

1. In the `label` column, `0` denotes the male class and `1` denotes the female class.

2. You are not required to know the meaning of all the other attributes in the dataset. You just need to deploy a prediction model with these attributes as the feature variables and the `label` column as the target variable. 

You can get the datasets from the following links:

 https://www.kaggle.com/datasets/primaryobjects/voicegender/download?datasetVersionNumber=1

---

#### 1. Create The DataFrames

Create the Pandas DataFrames for the datasets.

In [2]:

# Create the DataFrames and store them "df" variables.
import pandas as pd
df = pd.read_csv("voice.csv")
df

,meanfreq,sd,median,Q25,Q75,IQR,skew,kurt,sp.ent,sfm,...,centroid,meanfun,minfun,maxfun,meandom,mindom,maxdom,dfrange,modindx,label
0,0.059781,0.064241,0.032027,0.015071,0.090193,0.075122,12.863462,274.402906,0.893369,0.491918,...,0.059781,0.084279,0.015702,0.275862,0.007812,0.007812,0.007812,0.000000,0.000000,male
1,0.066009,0.067310,0.040229,0.019414,0.092666,0.073252,22.423285,634.613855,0.892193,0.513724,...,0.066009,0.107937,0.015826,0.250000,0.009014,0.007812,0.054688,0.046875,0.052632,male
2,0.077316,0.083829,0.036718,0.008701,0.131908,0.123207,30.757155,1024.927705,0.846389,0.478905,...,0.077316,0.098706,0.015656,0.271186,0.007990,0.007812,0.015625,0.007812,0.046512,male
3,0.151228,0.072111,0.158011,0.096582,0.207955,0.111374,1.232831,4.177296,0.963322,0.727232,...,0.151228,0.088965,0.017798,0.250000,0.201497,0.007812,0.562500,0.554688,0.247119,male
4,0.135120,0.079146,0.124656,0.078720,0.206045,0.127325,1.101174,4.333713,0.971955,0.783568,...,0.135120,0.106398,0.016931,0.266667,0.712812,0.007812,5.484375,5.476562,0.208274,male
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3163,0.131884,0.084734,0.153707,0.049285,0.201144,0.151859,1.762129,6.630383,0.962934,0.763182,...,0.131884,0.182790,0.083770,0.262295,0.832899,0.007812,4.210938,4.203125,0.161929,female
3164,0.116221,0.089221,0.076758,0.042718,0.204911,0.162193,0.693730,2.503954,0.960716,0.709570,...,0.116221,0.188980,0.034409,0.275862,0.909856,0.039062,3.679688,3.640625,0.277897,female
3165,0.142056,0.095798,0.183731,0.033424,0.224360,0.190936,1.876502,6.604509,0.946854,0.654196,...,0.142056,0.209918,0.039506,0.275862,0.494271,0.007812,2.937500,2.929688,0.194759,female
3166,0.143659,0.090628,0.184976,0.043508,0.219943,0.176435,1.591065,5.388298,0.950436,0.675470,...,0.143659,0.172375,0.034483,0.250000,0.791360,0.007812,3.593750,3.585938,0.311002,female
3167,0.165509,0.092884,0.183044,0.070072,0.250827,0.180756,1.705029,5.769115,0.938829,0.601529,...,0.165509,0.185607,0.062257,0.271186,0.227022,0.007812,0.554688,0.546875,0.350000,female

#### 2. Display First Five Rows

Display the first five rows the DataFrames using head() function.

In [ ]:
# Display the first 5 rows of the 'train_df' DataFrame.
df.head()

---

#### 3. Display Last Five Rows

Display the last five rows of DataFrames.

In [22]:
# Display the last 5 rows of the 'train_df' DataFrame.
  df.tail()

IndentationError: ignored

---

#### 4. Rows & Columns In Train DataFrame

Find the number of rows and columns in DataFrames.

In [5]:
# Print the number of rows and columns in both the DataFrames.
df.shape

(3168, 21)

Once the data set is loaded we will check if there is any missing values using the isnull() function. In case of missing values we have to remove or replace the missing values with mean or median of the dataset.

---

#### 5. Check For Missing Values 

Check whether any of the columns in the DataFrames has any missing value.

In [8]:
# Check for the missing values in the 'train_df' DataFrame.
df.isnull().sum()

meanfreq    0
sd          0
median      0
Q25         0
Q75         0
IQR         0
skew        0
kurt        0
sp.ent      0
sfm         0
mode        0
centroid    0
meanfun     0
minfun      0
maxfun      0
meandom     0
mindom      0
maxdom      0
dfrange     0
modindx     0
label       0
dtype: int64

In [9]:
# Check the datatype of all the columns of the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3168 entries, 0 to 3167
Data columns (total 21 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   meanfreq  3168 non-null   float64
 1   sd        3168 non-null   float64
 2   median    3168 non-null   float64
 3   Q25       3168 non-null   float64
 4   Q75       3168 non-null   float64
 5   IQR       3168 non-null   float64
 6   skew      3168 non-null   float64
 7   kurt      3168 non-null   float64
 8   sp.ent    3168 non-null   float64
 9   sfm       3168 non-null   float64
 10  mode      3168 non-null   float64
 11  centroid  3168 non-null   float64
 12  meanfun   3168 non-null   float64
 13  minfun    3168 non-null   float64
 14  maxfun    3168 non-null   float64
 15  meandom   3168 non-null   float64
 16  mindom    3168 non-null   float64
 17  maxdom    3168 non-null   float64
 18  dfrange   3168 non-null   float64
 19  modindx   3168 non-null   float64
 20  label     3168 non-null   object
dtypes: float64(20), object(1)
memory usage: 519.9+ KB

---

Here, we can observe that the label columns conatins categorical data i.e. male and female. As this is an example of Binary classification where we have only 2 classes so we will convert the labels into class 0 and 1 where 0 represents Male and 1 represents Female using replace() function.

For Example: 

<img src="https://static.javatpoint.com/tutorial/machine-learning/images/classification-algorithm-in-machine-learning.png"/>

#### 6. Count The `male` & `female` Classes

Find out the number of `male` and `female` values in both the `train_df` and `test_df` DataFrames.

In [28]:
# Print the count of the 'male' and 'female' classes in the  DataFrame.
df["label"].value_counts(df["1"])

KeyError: ignored

In [19]:
# Replace the "male" and "female" classes into "0" and "1" using replace() function
df["label"].replace(["male", "female"], [0, 1])

0       0
1       0
2       0
3       0
4       0
       ..
3163    1
3164    1
3165    1
3166    1
3167    1
Name: label, Length: 3168, dtype: int64

In [18]:
# Print the count of the '0' and '1' classes in the  DataFrame.
df["label"].value_counts()

male      1584
female    1584
Name: label, dtype: int64

Target & Feature Variables Separation

The `RandomForestClassifier` module has a function called `fit()` which takes two inputs: 
1. The first input is the collection of feature variables.
2. The second input is the target variable.  

Let us try to understand what are Feature variables and Target Variables.

**Feature Variables**: The features are those variables which describe the features or properties of an entity.

**Target variable:** The variable which needs to be predicted is called a target variable.

Let's store the feature variables in the `X` variable and the target variable in the `y` variable. We will separate the features using the `iloc[]` function. 

Recall the syntax for `iloc[]` function.

**Syntax:** 

`dataframe_name.iloc[row_position_start : row_position_end, column_position_start : column_position_end]`


We need all the rows from the training set. So, inside the `iloc[]` function, we will enter the colon (`:`) sign to get all the rows. We do not need the first column, i.e., the `LABEL` column. Therefore, inside the `iloc[]` function, as part of column indexing, enter `1` as the starting index followed by the colon (`:`) sign to include the rest of the columns from the dataset.

#### 7. Feature Variables Extraction


Get the feature variable, X of the DataFrames

---

In [25]:
# Get the feature variables from the DataFrame.
X = df.iloc[:, :-1]
# Display the first 5 rows of the DataFrame.
X.head()
X.shape[1]

20

---

#### 8. Target Variable Extraction

Get the target variable from the DataFrames.

In [27]:
# Get the target variable from the DataFrame.
y = df.iloc[:, -1] 
# Display the first 5 rows of the  Pandas series.
y.head()

0    male
1    male
2    male
3    male
4    male
Name: label, dtype: object

###Train and Test dataset

As the amount of male and female data is equal in the dataset, so our dataset is not biased. Now we are good to move ahead to split our data into train and test set. 

`Train set` will be used to train the model to identify a certain pattern based on the features 

`Test set`will be the new data provided to the prediction model to test or predict an output based on the new feature given to the model.

We always split the data into 70-30 or 80-20 ratio for train and test set respectively. That being said the `train dataset` will contain 70% of the total data and the `test dataset` will contain rest 30% of the data.

**Syntex**:
`from sklearn.model_selection import train_test_split`

`X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)`

Here the output would be , 
- X_train- contains the feature from the train dataset
- X_test- contains the features from the test dataset
- y_train- contains the target variable from the train dataset
- y_test- contains the target variables from the test dataset

Input required are:-
- feature variable, X
- Target vaiable, y
- Ratio at which you want to divide the train-test data
- Random state helps to fix the randomness of the data, even if you run the code multiple times. You will always get the same data in your train and test dataset.

---

In [31]:
# Split the data into "train" and "test" set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.33, random_state = 42)
print(f"Shape of X_train is: {X_train.shape} \n Shape of X_test is: {X_test.shape} \n ")
print(f"Shape of y_train is: {y_train.shape} \n Shape of y_test is: {y_test.shape} \n")

Shape of X_train is: (2122, 20)
 Shape of X_test is: (1046, 20)

Shape of y_train is: (2122,)
 Shape of y_test is: (1046,)

#### 9. Building A Random Forest Classifier Model


####Importing `RandomForestClassifier`

We need to import a module called `RandomForestClassifier` from a package called `sklearn.ensemble`. The `sklearn` (or **scikit-learn**) is a collection of many machine learning modules. Almost every machine learning algorithm can be directly applied without a knowledge of math using the **scikit-learn** library. It is kind of a plug-and-play device.

#### Fitting The Model

Now that we have separated the feature and target variables for deploying the `RandomForestClassifier` model, let's train the model with the feature variables using the `fit()` function. The steps to be followed are described below.

1. First, call the `RandomForestClassifier` module with inputs as `n_jobs=-1` and `n_estimators=50`. Store the function in a variable with the name `rf_clf`.

  For the time being, ignore the reason behind providing the `n_jobs=-1` parameter as an input.

  ```
  rf_clf = RandomForestClassifier(n_jobs=-1, n_estimators=50)
  ```

  The `n_estimators` parameter defines the number of decision trees in a Random Forest. Therefore, `n_estimators=50` means that the forest contains `50` decision trees. If `n_estimators` parameter is not defined by a user, then by default, the forest contains `100` decision trees.

2. Call the `fit()` function with `x_train` and `y_train` as inputs.

  ```
  rf_clf.fit(x_train, y_train)
  ```
3. Call the `score()` function with `x_train` and `y_train` as inputs to check the accuracy score of the model. This step is actually not required. If you wish, you can skip this step.
  
  ```
  rf_clf.score(x_train, y_train)
  ```

In [33]:
# Build a Random Forest Classifier model.
# Import the 'RandomForestClassifier' module.
from sklearn.ensemble import RandomForestClassifier
rfc  = RandomForestClassifier(n_jobs = -1)
# rfc = random forest classifier
rfc.fit(X_train, y_train)
rfc.score(X_train, y_train)
# Output 1.0 tells that the model is 100% accurate

1.0

In [34]:
# Predict the target variable based on the feature variables of the test DataFrame.
y_pred = pd.Series(rfc.predict(X_test))
print(y_pred)

0       female
1         male
2         male
3       female
4       female
         ...
1041      male
1042      male
1043    female
1044      male
1045    female
Length: 1046, dtype: object

In [36]:
# Using the 'value_counts()' function, count the number of times 0 and 1 occur in the predicted values.
y_pred.value_counts()

male      536
female    510
dtype: int64

---



We deployed the `RandomForestClassifier` prediction model which classified the voices, in the test dataset, as `0` and `1`.

The model turned out to be 100% accurate. 

However, we need to ensure that our model should make accurate predictions. For this purpose, we need to evaluate the model that we deployed.

Generally, a classification model (in this case, Random Forest Classification) is evaluated through a concept called **confusion matrix**.

#### 10. Confusion Matrix 
To create a confusion matrix, first import `confusion_matrix` module from the `sklearn.metrics` library. This library contains all the parameters to evaluate a machine learning model. In addition to the `confusion_matrix` module, let's also import the `classification_report` module. We will use them later to evaluate our module.

Now that we have got our confusion matrix, let's try to understand this concept.

**Confusion Matrix:**
---

It is way of evaluating the performance of your machine learning algorithm.

**For Example:**

Suppose that you attempted an online exam in which you already know that out of 100 questions, you have given 75 correct answers and 25 incorrect answers.

However, the exam software did not assessed the answers correctly and marked many correct answers as incorrect and incorrect answers as correct. Let us evaluate the performance of this software using confusion matrix.

- There are two possible classes:
  1. Class `correct`.
  2. Class `incorrect`.

We need to find out how many correct answers were accurately assessed or predicted by the software. 

Thus, 
- positive outcome $\Rightarrow$ `correct` answer.
- negative outcome $\Rightarrow$ `incorrect` answer.

In technical terms, the desired outcome is called a **positive outcome**. 


Now, consider the following table and a `2 X 2` matrix known as **confusion matrix**. This table shows the actual and predicted values for the first 4 questions.

<img src=""/>



Now let us have a look at each cell of the confusion matrix.

1. The first row first column value indicates those `incorrect` answers which were <b><font color=green>accurately</font></b> assessed or predicted as `incorrect` by the software.
Such values are called as **True Negative (TN)**.




2. The second  row second column value  indicates those `correct` answers which were <b><font color=green>accurately</font></b> assessed or predicted as `correct` by the software.
Such values are called as **True Positive (TP)**.



3. The second  row first column value  indicates those `correct`  answers which were <b><font color=red>inaccurately</font></b>  assessed or predicted as `incorrect` by the software.
Such values are called as **False Negative (FN)**.




4. The first  row second column value  indicates those `incorrect`  answers which were <b><font color=red>inaccurately</font></b>  assessed or predicted as `correct` by the software.
Such values are called **False Positive (FP)**.





The resultant confusion matrix obtained after evaluating values for all the 100 questions are as follows:




- Values that are accurately predicted or assessed by the model are labelled **True (T)**. Thus, the number of answers which were <b><font color=green>accurately</font></b> predicted by the software = `85`



- Values that are inaccurately predicted or assessed by the model are labelled **False (F)**. Thus, the number of answers which were <b><font color=red>inaccurately</font></b> predicted by the software = `15`



Thus the confusion matrix compares the actual values with the predicted values and thus it is very useful in evaluating the performance of your machine learning model.

---

Let us apply the concept of confusion matrix for our dataset.

There are two possible classes:
1. The class `0` values are male voices.
2. The class `1` values are female voices.

 So, after you deploy the classification model, there are 4 possible outcomes. They are:

1. Class `0` values predicted as class `0`. 

2. Class `0` values predicted as class `1`.

3. Class `1` values predicted as class `0`.

4. Class `1` values predicted as class `1`.

These 4 possibilities can be reported in a confusion matrix. 

||Predicted Class `0` (`y_predicted`)|Predicted Class `1` (`y_predicted`)|
|-|-|-|
|Actual Class `0` (`y_test`)|||
|Actual Class `1` (`y_test`)|||

where

- `y_test` contains the actual class `0` and class `1` values

- `y_predicted` contains the predicted class `0` and class `1` values
 

Observe the output of `confusion_matrix(y_test, y_predicted)` function.

```
array([[532,  15],
       [  8, 491]])
```

In [37]:
# Print the confusion matrix to see the number of TN, FN, TP and FP.
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
cm

array([[493,   6],
       [ 17, 530]])

TN = 493, FP = 6, FN = 17, TP = 530

Precision = TP/ (TP + FP)
TP = 530, FP = 6
So, precision = 530 / (530 + 6) = 0.9899

Now, for class 0, TP = 493, FP = 17 
So precession = 493 / 510 = 0.9666

For class 1,
Recall = TP / (TP + FP) = 530 / 547 = 0.97

For class 0,
Recall = TP / (TP + FP) = 493 / (493 + 6) = 0.9879

#### Precision And Recall^

A good prediction model provides a very large number of true positive (TP) values and a very low number of true negative (TN) values.

**Precision:**

Based on the TP and FP values, we define a parameter called **precision**. 
It is used to evaluate the number of correct positive predictions made.

It is the ratio of the TP values to the sum of TP and FP values, i.e.,

(defn of precision and recall)
(precision of both outcomes.)
(add example values)

$$\text{precision} = \frac{\text{TP}}{\text{TP + FP}}$$



Ideally, the precision should be 1 for a good classifier model. 


**Recall:**

Based on the TP and FN values, we define another parameter called **recall**.
It is the ratio of the TP values to the sum of TP and FN values, i.e, 

$$\text{recall} = \frac{\text{TP}}{\text{TP + FN}}$$




Evidently, there is a trade-off. If the recall value is high, then the precision value will be low and vice-versa. Hence, we need to find an optimum point where both, the precision and the recall values are acceptable.

####The `f1-score`

To find an optimum point where both, the precision and recall values, are high, we calculate another parameter called **f1-score**. It is a harmonic mean of the precision and recall values, i.e.,



$$\text{f1-score} = 2 \left( \frac{\text{precision} \times \text{recall}}{\text{precision} + \text{recall}} \right)$$


f1-score will be high only when both precision and recall are high. 

You can also get these values by calling a function called `classification_report()`. It takes two inputs: the actual target values and the predicted target values, i.e., `y_test` and `y_predicted`.

**Note:** You may get the following warning message after executing the code in the code cell below.

```
Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
```

Ignore the warning.

In [39]:
# Print the precision, recall and f1-score values for both the male and female classes.
# Import the confusion_matrix and classification_report modules.
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

      female       0.97      0.99      0.98       499
        male       0.99      0.97      0.98       547

    accuracy                           0.98      1046
   macro avg       0.98      0.98      0.98      1046
weighted avg       0.98      0.98      0.98      1046

For class 0, precession: 0.97; Recall = 0.99; f1-score:0.98;
For class 1, precession: 0.99; Recall = 0.97; f1-score:0.98;
Audio frequency of male and female are accurate.
Because the f1-score of class 0 and class 1 is same and it's close to 1.  
* Model can accurately predict voice of male and female for new data-set.

**Write your interpretation of the results here.**

*   List item
*   List item



-

---